#tribe-events-bar{
  float: left;
}

#tribe-events-pg-template{
  clear: left;
}


.tribe-events-gcal{
  float: none;
}

#tribe-events .tribe-events-button, .tribe-events-button
{
  float: none;
}

.tribe-events-meta-group{
  padding: 0 !important;
}
