#tribe-events-bar{
  float: left;
}

#tribe-events-pg-template{
  clear: left;
}


.tribe-events-gcal{
  float: none;
}

#tribe-events .tribe-events-button, .tribe-events-button{
  float: none;
}

.tribe-events-meta-group{
  padding: 0 !important;
}

#tribe-events-content{ clear: left; }

.datepicker table{
   border-collapse: separate;
   border-spacing: 0;
}

.datepicker-days table td, .datepicker-days table th, .datepicker-days table tr{
   background-color: transparent;
}

/*.tribe-events-loop{
  max-width: 100% !important;
}*/
